{{define "footer"}}
    <footer>
        <hr>
        Powered by <a href="https://go.dev">Go</a> and <a href="https://picocss.com">Pico.css</a>
        in {{.CurrentYear}}. <br>
        <a href="https://github.com/azdanov/scratchpad">GitHub</a>
    </footer>
{{end}}