{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "main"}}
    {{with .Scratch}}
        <div class="card">
            <span>#{{.ID}}</span>
            <strong>{{.Title}}</strong>
            <hr>
            <pre>{{.Content}}</pre>
            <time>Created: {{.Created}}</time>
            <time>Expires: {{.Expires}}</time>
        </div>
    {{end}}
{{end}}