{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "main"}}
    {{with .Scratch}}
        <article>
            <header>
                <span>#{{.ID}}</span>
                <strong>{{.Title}}</strong>
            </header>
            <pre style="background-color: white">{{.Content}}</pre>
            <footer>
                <time>Created: {{.Created}}</time>
                <time>Expires: {{.Expires}}</time>
            </footer>
        </article>
    {{end}}
{{end}}